

/* STYLING SAINTSANDFLEURS */

/*styling the body*/

body {
	background-color: white;
	padding-top:4.5vw;
}

.announcements {

    text-align: center;
    color: #232a48;

}

.navbar {
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: #faf3f0;
	height: 5vw;
	margin: 0vw;
}

.navbar nav {
 	display: flex;
	justify-content: space-evenly;
	font-size: 1.5vw;
	align-items: center;
	width: 90em;
	margin-left: 7vw;
	margin-right: 7vw;
	font-family: serif;
	color:#232a48;

}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 4.5vw;
	background-color: white;
	font-family: "Style Script", cursive;
  	font-weight: 400;
	font-style: normal;
	color:#232a48;
	height: 12vw;
	
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  color:#232a48;
  background-color: #dae8ef;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  flex-direction: column
}
.center-content h1 {
	font-size: 10vw;
	margin:0.5vw;
	font-family: "Forum", serif;
  	font-weight: 400;
  	font-style: normal;
}

.center-content p {
	font-size: 2vw;
}

.intro .Lbox, .Rbox{
  width: 10vw;
  /*height: 40vw;*/
  background-color: #232a48;
}

.submit_outer {
	height: 10vw;
	display: flex;
	background-color: #ffe7df;
	align-items: center;
	justify-content: center;
}
.submit_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7vw;
	width: 95vw;
	outline: #dae8ef;
	outline-width: 0.5vw;
	outline-style: solid;
	font-family: "Style Script", cursive;
  	font-weight: 400;
	font-style: normal;
	font-size: 5vw;
	background-color:#faf3f0;
	color: #232a48;
}

.form {
	display: flex;
	flex-direction: column;
	background-image: url(images/flower_spread.png);
	background-size: cover; 
	background-position: center;
  	background-repeat: no-repeat;
	height: 80vw;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
	background-color: white;
	height: 50vw;
	width: 50vw;
}

form h1 {
	font-family: "Forum", serif;
  	font-weight: 400;
  	font-style: normal;
	text-align: center;
	padding-top: 1vw;
	margin-left: 3vw;
	margin-right: 3vw;
	
}

.text {
	width: 20vw;

}
